/**
 * $GRID
 * ==========================================================================
 */

.container {
    box-sizing: content-box;
	max-width: $container-width;
	margin: 0 auto;
    padding: 0 $spacing-unit-grid;

    @include media-query(portable){
        width: $palm-start;
    }
    @include media-query(palm){
        width: 100%;
    }
}

.inner-container{
    max-width: 1000px;
    margin: 0 auto;
    background-color: white;
}

.nav-container{
    width: 100%;
    background-color: white;
    height: 80px;
    text-align: center;
}

.grid {
    display: block;
    margin: 0 auto;
    font-size: 0;
    margin-left: -$spacing-unit-grid;

    .grid {
    	padding: 0;
    }

    &.grid--gutterless {
        padding-left: 10px;
        margin-left: 0;

        .grid__item {
            padding: 0;
        }
    }
}
    .grid__item {
        display: inline-block;
        font-size: 1rem;
        margin: 0;
        padding-left: $spacing-unit-grid;
        text-align: left;
        vertical-align: top;
    }
        .grid--block {
            margin-bottom: $spacing-unit-grid;
        }