/**
 * $ALUMNI

/*Alumni Elements */

 .aqua-block{
 	background-color: $aqualight;
 	height: 250px;
 	text-align: center;
 	color: white;
 	padding-top:20px;
  padding-bottom:20px;

  @include media-query(palm){
  	height: auto;
  }

 	h2{
 		color: $ui-darkaqua;
 		font-family: 'kepler-std';
 		margin-bottom: 12px;
 	}

 	b{
 		font-family: 'roboto-bold';
 	}

 }

 .three-col{
 	width: 30%;
 	display: inline-block;
 	vertical-align: top;
  	border-right: 1px dashed $aquaborder;
  	margin-bottom: 5px;

  	@include media-query(palm){
  	display: block;
  	margin: auto;
  	padding-bottom: 20px;
  	border: none;
  	width: 60%;
  	}

 	.section-cta{
 		color: $white !important;
 		background: $ui-aquadark;
 		border-color: $white;
 		margin-top: 5px;
    font-size: 13px;
    padding: 3px 12px;
 	}
 }

 .page-body-block{
 	text-align: left;
 	margin-top: 5%;

 	h3{
 		color: $ui-blue;
 		text-transform: uppercase;

 		@include media-query(palm){
 			text-align: center;
 		}
 	}

 	.alum-pic{
 		width: 35%;
 		margin-bottom: 10%;

 		@include media-query(palm){
 			width: 75%;
 			float: none; 
 			margin: auto;
 			text-align: center;
 		}

 		img{
 			width: 100%;
 		}
 	}

 	.alum-info{
 		width: 58%;

 		@include media-query(palm){
 		  width: 75%;
		  margin: auto;
		  float: none;
		  display: block;
		  // margin-left: 0;
		  padding-bottom: 25px;
		}

 		h2{
 			color: $ui-blue;
 			margin-bottom: 0;
 			padding-bottom: 0;
 		}
 		span{
 			color: $copy-lightgray;
 			font-style: italic;
 			font-family: 'kepler-std';
 			font-size: 18px;
 		}
 		p{
 			margin-top: 20px;
 		}
 	}

 	.push-left{
 		margin-left: 5%;

 		@include media-query(palm){
 			margin: auto;
 		}
 	}

 }
