/**
 * $ALUMNI
 * ==========================================================================
 * This is a placeholder and example for a view.
 */

/*Alumni Elements */



 .aqua-block{
 	background-color: #74d3cf;
 	height: 260px;
 	text-align: center;
 	color: white;
 	padding-top:20px;


 	h2{
 		color: #158680;
 		font-family: 'kepler-std';
 	}
 }

 .three-col{
 	width: 30%;
 	display: inline-block;
 }