//events scss

.posts-wrap .post-row .post-content h3 span{

	font-family: 'kepler-std';
	font-size: 20px;
  	line-height: 22px;
}

@media (min-width:240px) and (max-width:767px){
	.page-events{
		// border: thin red solid;
		.post-row{
			text-align: left;

			.post-content{
				h3{
					text-align: left;
				}
			}

			.post-img{
				margin-bottom: 20px !important;
				float: none !important;
				margin: 0 !important;

				img{
					width: 180px !important;
					height: auto !important
				}
			}			
		}
	}
}