/**
 * $LANDING
 * ==========================================================================
 * This is a placeholder and example for a view.
 */


 .container{
 	background: url('../img/fpo-homepage-bg.jpg') no-repeat;
 	border: 2px red solid;
 	min-height: 3550px;
 }

 .logo{
 	padding-top: 20px;
 	padding-left: 20px;
 }