// navigation scss here
.nav-container {
  float: left;
}
.main-nav {
  height: 76px;
  margin-top: 0;
  vertical-align: top;
  ul {
    border-left: 1px solid $gray-lightdark;
    display: inline-block;
    li {
      float: left;
      font-family: 'anaheim-reg';
      border-right: 1px solid $gray-lightdark;
      letter-spacing: 0.5px;
      position: relative;
      a {
        padding: 27px 22px;
        display: block;
        font-size: 15px;
        text-transform: uppercase;
        &:hover {
          background: $ui-red;
          color: $white;
        }
      }
      &:hover > {
        a {
          background: $ui-red;
          color: $white;
        }
      }
      &:hover > {
        ul {
          display: block;
        }
      }
    // drpdown here
      ul {
        background: $gray-lightdark;
        position: absolute;
        left: -24px;
        top: 76px;
        z-index: 999;
        padding: 12px 0 12px 0;
        min-width: 170px;
        max-width: 200px;
        border: 0;
        display: none;

        li {
          padding: 0;
          float: none;
          border-bottom: 1px solid $gray-lightdark;
          position: static;
          a {
            padding: 25px 16px;
            display: block;
            text-align: left;
            background: $white;
             margin-right: -1px;
          }
          &.hassub:hover {
            a {
              background: url(#{$basepath}/hasul_bg.png) no-repeat right center $ui-red;
              position: relative;
              z-index: 99999;
            }
          }
          // drpdown level 2 here
          ul {
            left: 145px;
            top: 0;
            display: none;
            height: 100%;
            background: $white;
            border-top: 12px solid $gray-lightdark;
            border-bottom: 13px solid $gray-lightdark;
            border-left: 1px solid $gray-lightdark;
            li {

              border: 0;
              line-height: 55px;
              padding: 15px 20px;
              background: $white;

              z-index: 0;
              &:hover {
                a {
                    color: $ui-red;
                }
              }
              a {
                padding: 0;
                line-height: normal;
                background: none !important;
                color: $ui-red !important;
                &:hover {
                  color: $ui-red;
                }
              }
            }
          }
         }
      }


    }
  }
}
    #searchbtn {
      float: right;
      width: 77px;
      height: 76px;
      margin-left: 25px;
      cursor: pointer;
      background: url(#{$basepath}/search_icon.png) no-repeat center center $btnred;
      &.active {
           background: url(#{$basepath}/search_close.png) no-repeat center center $btnred;
      }
 }
 #searchblock {
   position: absolute;
   right: 0;
   top: 76px;
   display: none;
   z-index: 9999;

    input[type='text'] {
     width: 336px;
     height: 77px;
     z-index: 9999;
     float: left;
     background:$gray-lightdark;
     padding: 0 28px;
     font-size: $font-size-lead+1;
     color: $nav-gray;
    }
     .search_button {
       float: right;
       width: 77px;
       height: 77px;
       background: url(#{$basepath}/search_arrow.png) no-repeat center center $ui-lightred;
     }
 }

// mobile nav
#mobil-navico {
  float: right;
  display: none;
   vertical-align: middle;
   text-align: center;
}

.mobile-nav{
    border-top: 1px #ccc solid;

    li{
      float:  none;
      border: 0;
      width: 100%;
      display: block;
      border: 0;
      border-bottom: 1px solid $gray-lightdark;
      position: relative;
      padding: 15px 25px;
      font-size: 24px;
      text-align: left;

       img{
          float: right;
          padding-right: 0px;
          padding-top: 6px;
         }
    }

  .secondary-nav{
    display: none;
  }

   .secondary-nav{
    li{
      padding-left: 45px;

      img{
        padding-top: 8px;
      }
    } 
  }

  .back-btn{
    background-color: $btnred;
    color: white;
    height: 45px;
    padding: 8px !important;
    padding-left: 20px !important;
    cursor: pointer;


    img{
      float: left;
      padding: 8px 10px 0 0;
    }
  }





  ul{
    li{

    }
    }
}


//DESKTOP TOUCH UP NAV
.desktop-nav{
  display: inline-block;
  /* border: thin red solid; */
  position: absolute;
  height: 76px;
  /* z-index: 500; */
  left: 28%;
}
