.posts-wrap {
  clear: both;
  overflow: hidden;
  .post-row {
    clear: both;
    overflow: hidden;
    max-width: 610px;
    margin: 0 auto;
    padding: 70px 0 0 0;
    .post-img {
      float: left;
      max-width: 122px;
      padding-right: 24px;

    }
    .post-content {
      float: left;
      max-width: 465px;

      h3 {
          font-family: 'Conv_KeplerStd-Disp';
          font-size: 28px;
          text-transform: capitalize;
          span {
            display: block;
            font-size: 18px;
            color: $copy-lightgray;
            font-style: italic;
            line-height: 20px;
            padding: 5px 0 0 0;
            text-transform: none;
          }
      }
      p {
        padding: 15px 0 0 0;
      }
    }
  }
}

//posts 
.redlink{
  color: $ui-red !important;
  text-decoration: underline;
}

.red-link:hover{
  color: $ui-red;
}

#postMore{
  margin-top: -15px;
  display: none;
}

.readLess{
  display: none;
}


.pagenation {
  display: inline-block;
  text-align: center;
  width: 100%;
  li {
    display: inline-block;
    font-size: 18px;
      color: $ui-red !important;
    a {
      color: $ui-red !important;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
