/**
 * $RESPONSIVE
 * ==========================================================================
 */


.mobile{
	display: none;
}


@include media-query(portable){
    // width: $palm-start;
}

@include media-query(palm){
	.desktop{
		display: none !important;
	}

	.mobile{
		display: block;
	}
}

/*for mobiles*/
@media (min-width:320px) and (max-width:480px){

}

/*for landscape*/
@media (min-width:481px) and (max-width:767px){

}

/*for tablet*/
@media (min-width:768px) and (max-width:1023px){
	.social, #searchbtn, #searchblock{
		display:none !important;
	}
}
/*for desktop*/
@media (min-width:768px) and (max-width:1023px){
	.social, #searchbtn, #searchblock{
		display:none !important;
	}
}
/*for desktop*/
@media (min-width:1024px) and (max-width:1249px){
	.nav-container{
		.logo{
			width: 25%;
			padding-right: 5px;
			// .desktop{ display: none; }
			.mobile{ 
				// display: block; 
				padding-top: 12px;
				width: 100%;
			}
		}
	}

	.main-nav{
		margin-left: -2%;
	}

	.social{
		display:none;
	}
}
/*for desktop*/
@media (min-width:1250px) and (max-width:1799px){
.header {
	.head-title {
		 h1 {
			 font-size: 56px;
		 }
	}
}




}
