/**
 * $RESPONSIVE
 * ==========================================================================
 */


.mobile{
	display: none;
}


@include media-query(portable){
    // width: $palm-start;
}

@include media-query(palm){
	.desktop{
		display: none !important;
	}

	.mobile{
		display: block;
	}
}