.container,.inner-container,.inner-seperator {
  min-width: 320px;
}

 #mobilelogo {
   display: none;
   margin: 10px 0 0 0;
 }
 .inner-container {
   max-width: 1196px;
   clear: both;
   width: 96%;

   @include media-query(palm){
    width: 95%;
    padding: 4%;
   }



 }
 .biz-block,.pro-block {
   max-width: 895px;
   margin: 0 auto;
 }

 .nav-container {
   height: auto;
   &.scrolling {
     position: fixed;
     top: 0;
     z-index: 999;
     transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
    border-bottom: 1px solid $light-gray;
   }
 }
 .inner-seperator {
   max-width: 1196px;
 }
// main content
.inner-container {

  .text-left{
    text-align: left;
  }
   .biz-block,.pro-block {
    p{
       font-size: 21px;
     }
  }
// personal-block
  .personal-block {
    max-width: 740px;
    margin: 0 auto;
    padding-top: 50px;
.section-cta {
  margin-top: 17px;
}
    p {
      font-size: 21px;
      text-align: center;
    }

     h2 {
       font-size: 42px;
       line-height: 52px;
       letter-spacing: normal;

       color: $ui-lightred;

       @include media-query(palm){
        font-size: 28px;
        line-height: 36px;
       }
     }

     .quote-block {
       max-width: 576px;
       margin: 0 auto;
       padding: 23px 0 0 0;
       clear: both;

       .headshot {
        float: left;
        margin-top: -10px;

        @include media-query(palm){
          float: none;
          margin-top: -10px;
          display: block;
          text-align: center;
        }

       }
       .quote {
         width: 71%;
         float: left;

         @include media-query(palm){
          text-align: center;
          float: none;
          display: block;
          width: 80%;
          margin: auto;
         }

         p {
           font-size: 16px;
           text-align: left;
           line-height: 26px;

           @include media-query(palm){
            text-align: center;
           }

           em {
             display: block;
             padding: 10px 0 0 0;
           }
         }

         b {
           font-size: 16px;
           font-family: 'roboto-bold';
         }
       }
     }

  }
  // alumni-block
  .alumni-block {
    max-width: 730px;
    margin: 0 auto;
    padding: 50px 0 0 0;

    p {
      font-size: 21px;
    }

    h2 {
      font-size: 42px;
      line-height: 52px;
      margin-bottom: 12px;

      @include media-query(palm){
        font-size: 28px;
        line-height: 36px;
       }
    }
    .alumni-cta {
      color: $ui-blue !important;

      background: url(#{$basepath}/arrow-blue.png) no-repeat right 10px $white;
      &:hover {
          color: $white !important;
          background: url(#{$basepath}/arrow-blue.png) no-repeat right -29px $ui-blue;
      }
    }
  }


  .biz-block ,.pro-block{
    padding-top: 40px;
    padding-bottom: 15px;
     h2 {
       font-size: 40px;
       letter-spacing: normal;
       line-height: 50px;

       @include media-query(palm){
        font-size: 28px;
        line-height: 36px;
        text-align: center;
       }
     }
  }
  .personal-cta {
     background: url(#{$basepath}/arrow-red.png) no-repeat right 11px $white;
     color: $ui-lightred !important;
     &:hover {
       color: $white !important;
       background: url(#{$basepath}/arrow-red.png) no-repeat right -22px $ui-lightred;
     }
  }
}
.section-cta {
  letter-spacing: 0.5px;
}
// service_list
.service_list {
  clear: both;
  margin: 0 auto 10px auto;
  max-width: 600px;
  cursor: pointer;

  li {
    display: inline-block;
    position: relative;
    margin-right: 23px;

    @include media-query(palm){
      //margin-right: 10px;
      margin-right: 5px;
      max-width: 82px;
    }

    .tooltip{
   		position: absolute;
   		width: 200px;
   		background: $white;
      border: 2px solid $gray-lightdark;
   		z-index: 999999;
   		cursor: pointer;
      left: -50%;
      margin-left: -10px;
      margin-top: -2px;
      display: none;
      -moz-box-shadow: 0 0 12px #ccc;
      -webkit-box-shadow: 0 0 12px #ccc;
      box-shadow: 0 0 12px #ccc;
      .tip-copy {
        	 background: url(#{$basepath}/tooltip-arrow.png) no-repeat center top;
           margin-top: -40px;
           text-align: center;
           padding: 50px 20px 20px 20px;
          padding-top: 55px;

          p {
            margin-bottom: 0;
          }
      }
      h4{
        color: $ui-aqua;
        margin: 0;
        font-size: 16px;
      }

   	}
  }
}
// alumni page scss
.alumni-row {
  clear: both;
  overflow: hidden;
  padding: 50px 20px;
  max-width: none;

  @include media-query(palm){
    padding: 30px 10px 15px 10px;
  }

 .left{
  // margin-left: 75px;
 }

}
.gotolink {
  float: right;
  margin: 5px 0 0 0;
}
.aqua-block {
  .biz-cta {
    border-color: $aquaborder-light;
  }

  h2 {
    padding-top: 10px;
    margin-bottom: 5px;
  }
  b {
    font-weight: normal;
    letter-spacing: 0.8px;
  }
  p {
    margin-bottom: 16px;
  }
  .section-cta {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.divider {
  margin: 20px 0 18px 0;
  border-bottom: 2px dotted $lightgray;
  display: block;
  height: 1px;
  float: left;
  width: 100%;
}
.header {
  .head-title {
    max-width: 500px;
  }
}
.seperatormini {
  height: 80px;
}
.three-col:nth-child(3) {
  border: none;
}
.share-cta {
   img {
    vertical-align: middle;
    padding-left: 2px;
    padding-bottom: 2px;
  }
}

.corp-block, .page-body-block {
  clear: both;

  h3 {
    font-family: 'anaheim-reg';
    font-size: 20px;
    //margin: 0;
  }
}
.corp-block {
  padding-top: 52px;
  h3 {
    margin-bottom: 0;
    clear: both;
  }
}
.page-body-block {
  overflow: hidden;

  .alum-info {

    h2 {
      font-family: 'Conv_KeplerStd-Disp';
      font-size: 28px;
      line-height: normal;
    }
    span {
      font-family: 'Conv_KeplerStd-Disp';
      line-height: 20px;
    }
    p {
      font-size: 16px;
    }
  }
}
.page-body-block {
  .push-left {
    margin-left: 70px;

    @include media-query(palm){
      margin: auto;
    }
  }
}
.red-block {
  .three-col {
      border-right: 1px dotted $lightred-ui;
  }
}
.blue-block {
  padding-bottom: 20px;
  height: auto;
  .percentage {
    font-size: 82px;
  }
  p {

    margin-bottom: 15px;
    line-height: 28px;
    font-size: 18px;
    max-width: 250px;
    margin: 0 auto 12px auto;
  }
.share-cta  {
    padding: 3px 8px;
font-size: 12px;
  }
  .three-col {
    border-color: $lightblue;
  }
  .percentage {
    padding-top: 12px;
  }
}
.page-body-block {
  .alum-pic {
    margin-bottom: 0;
  }
}
.biz-cta {
  border: 2px solid $aquaborder-light;
}
.inner-container {
  .biz-block {
    &.alumniblock {
      h2 {
        color: $ui-blue;
      }
    }
  }

}

.red-block {
  .share-cta {
    font-size: 12px;
    border-color: $lightred;
  }
   .percentage {
     font-size: 82px;
   }
   p {
     margin-top: 0;
     font-size: 18px;
   }

}
.three-col:nth-child(3){border:none}

.page-body-block {
  text-align: left;
  margin-top: 60px;
  max-width: 895px;
  margin: 0 auto;
  padding: 75px 0 0 0;

  @include media-query(palm){
    padding-top: 20px;
  }




}
.blue-block {
  .three-col:nth-child(3){border:none}
  .share-cta {
    border-color: $light-uiblue !important;
  }
}
.blue-block {
  .three-col {
  border-right: 1px dotted $lightblue;
  }
}
.pro-block {
   h3 {
     margin-bottom: 0;
   }
}
.inner-container {
  .biz-block, .pro-block {
    padding-top: 40px;
  }
}
.page-body-block.pro-block {
  padding-top: 75px;
}
.classdetails {
  max-width: 800px;
  margin: 0 auto;
}
.biz-block.alumniblock {
  max-width: 780px;
}
.page-body-block.corp-block {
  padding-top: 75px;
}
// footer scss
.footer {
  font-family: 'roboto-light';
  letter-spacing: 0.5px;
  word-spacing: 0.5px;
  clear: both;
  .inner-container {
    overflow: hidden;
  }
  .address {
    font-size: 13px;
    line-height: 22px;
    padding-left: 28px;
    float: left;
  }
  .copyright {
    padding-top: 5px;
    padding-right: 32px;
  }
}
